<launch>
<!--launch px4 first then launch this-->

    <!-- launch px4
    </>

    <!-- launch camera plugin-->
    <include file="$(find drone_tracking)/launch/apriltag_camera_launch.launch"/>

    <!-- launch tf broadcaster-->
    <include file="$(find drone_tracking)/launch/broadcast_tf.launch"/>
    

</launch>