<launch>

    <!--args for mavros set the fcu_url and url_ to the respective correct ports
	and the ip address to the WSL2 internet connection-->
	<arg name ="host" default ="172.28.224.1"/>
	<arg name ="host_ip" default ="172.28.224.1"/>
	<arg name="fcu_url" default="udp://:14540@$(arg host_ip):14557" />
	<arg name="gcs_url" default="udp://:14556@$(arg host_ip):14551" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />    

    <!--args for gcs bridge for communication with QGC on Windows OS-->
    <!--https://github.com/mavlink/mavros/issues/574-->
    <arg name="mavlink_bridge_url" default="udp://@$(arg host_ip):14550" />

	<!--args for airsim_node.launch, set arg host to WSL2 ipaddress config-->
	<arg name="output" default="screen"/>
	<arg name="publish_clock" default="true"/>
	<arg name="is_vulkan" default="true"/>
	
	
	<!--Launch Airsim Node-->
	<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch">
		<arg name="output" value="screen"/>
		<arg name="publish_clock" value="true"/>
		<arg name="is_vulkan" value="true"/>
		<arg name="host" value="$(arg host)"/>	
	</include>

	<!--LAUNCH PX4 and MAVROS protocol-->
    <include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include>

    <node pkg="mavros" type="gcs_bridge" name="mavlink_bridge">
        <param name="gcs_url" value="$(arg mavlink_bridge_url)" />
    </node>


</launch>